---
const year = new Date().getFullYear();
---

<footer class="flex justify-center items-center mb-5">
  <div>
    <p
      class="transition-all ease-in-out duration-300 text-[#191308] dark:text-[#F7F7FF]"
    >
      &copy {year}
      <a
        href="https://github.com/zperekoty"
        target="_blank"
        class="transition-all ease-in-out duration-300 text-[#00A6FB] dark:text-[#00A6FB] hover:underline hover:underline-offset-4"
        >zperekoty</a
      >. All rights reserved.
    </p>
  </div>
</footer>
